@{
    ViewData["Title"] = "Обо мне";
}

<article>
    <section style="display: flex; justify-content: center">
        <img class="rounded" src="~/images/isnullxbh.png" alt="isnullxbh" width="35%">
    </section>
    <section>
        <p>Привет!</p>
        <p>
            Меня зовут Олег, мой ник в сети - <a class="ref-people" target="_blank" href="https://google.com/search?q=isnullxbh">isnullxbh</a>.
            Я закончил Алтайский государственный технический университет им И. И. Ползунова (АлтГТУ) по специальности
            "Информационная безопасность". В данный момент работаю разработчиком программного обеспечения в
            <a class="ref" target="_blank" href="https://www.integrasources.com">IntegraSources</a>.
        </p>
        <p>
            Язык программирования, который я чаще всего использую как в рабочих, так и в домашних проектах - С++. Я очень
            люблю этот язык и бесконечно благодарен своему преподавателю — Сучковой Л. И., которая впервые меня с ним
            познакомила (к слову, на тот момент я не очень-то был рад знакомству). Несмотря на большую любовь к C++, я
            с радостью программирую на Java, TypeScript, C# и F#, а так же на Python и JavaScript (но уже без особой
            радости). Последнее время я стал интересоваться функциональным программированием и начал понемногу изучать
            Haskell. Несмотря на то, что Вы не найдете ни одной строчки, написанной мною на Haskell (надеюсь на это),
            я стал активно экспериментировать с ФП в C++. Ну и, наконец, я интересуюсь языками семейства
            <a class="ref" target="_blank" href="https://en.wikipedia.org/wiki/Category:ML_programming_language_family">ML</a>,
            на одном из них я все еще лелею мечту написать простой компилятор (OCaml), а на втором (F#) - написан бэк этого
            сайта.
        </p>
        <p>
            Больший интерес у меня вызывает разработка распределенных систем, систем обмена сообщениями, а также сетевых
            приложений (в контексте DS/MOM). Интересуюсь системным программированием под Linux/MacOS (под Windows нет,
            но приходится). В частности, имеется опыт разработки аудио- и видео-драйверов под Windows/MacOS, системных
            утилит под Linux/MacOS. Так же последнее время стал больше интересоваться низкоуровневым программированием, в
            связи с чем приобрел себе RPi и RP Pico, а так же кое-какие книги по ассемблеру под x86_64 (меж собой эти факты
            не связаны).
        </p>
        <p>
            Уже много лет я планировал начать заниматься радиотехникой - в этом году (2021), наконец-то, я начал что-то
            для этого делать. Компоненты куплены, Multisim установлен, книга Ревича с переработанным практикумом из Свореня
            наконец-то стоит на моей книжной полке. Вы можете удивиться, при чем здесь радиотехника? При том, что в свое
            время я не очень-то прилежно изучал электронику и схемотехнику — мне просто не было это интересно. А теперь
            все поменялось, и придется начинать все с начала. Но я совсем не грущу (с).
        </p>
        <p>
            Предпочитаю использовать macOS и Linux. С 2011 года использовал различные дистрибутивы, среди которых были
            Ubuntu/Debian, Slackware, Linux Mint. Последние два года использую Arch Linux, с которого совсем не тороплюсь
            переходить на другой дистрибутив. За Arch должен сказать отдельное спасибо
            <a class="ref-people" href="https://github.com/linky">linky</a>. Дома есть четыре машины, на которых работает
            все от Windows до FreeBSD. Пытаюсь администрировать сервер, который работает под Arch'ем — на нем как раз и
            крутится теперь уже известный Вам сайт, а так же пару сервисов, вроде Artifactory CE, которые я использую в
            разработке собственных проектов.
        </p>
        <p>
            Пользуюсь большинством IDE от <a class="ref" href="https://jetbrains.com">JetBrains</a>: CLion, Rider, Intellij IDEA,
            DataGrip, WebStorm. В консоли предпочитаю пользоваться vim. VS Code использую в тех случаях, когда не нашелся
            соответствующий плагин для IDE от JB (либо он нашелся, но давно уже не сопровождается).
        </p>
        <p>
            Дома имею небольшую библиотеку (как-нибудь добавлю фото), люблю и пытаюсь выращивать лиственные растения.
            Кажется, все рассказал.
        </p>
    </section>
</article>
