@{
    ViewData["Title"] = "Контакты";
}

<article>
    <section>
        <div class="contact">
            <div class="main">
                <img src="~/icons/github.svg" alt="GitHub">
                <a class="ref" target="_blank" href="https://github.com/isnullxbh">isnullxbh</a>
            </div>
            <div class="note">
                <p>Очевидно, главная социальная сеть.</p>
            </div>
        </div>
        <div class="contact">
            <div class="main">
                <img src="~/icons/telegram.svg" alt="Telegram">
                <a class="ref" target="_blank" href="https://t.me/isnullxbh">isnullxbh</a>
            </div>
            <div class="note">
                <p>Наиболее оперативно отвечаю здесь.</p>
            </div>
        </div>
        <div class="contact">
            <div class="main">
                <img src="~/icons/vk.svg" alt="vk">
                <a class="ref" target="_blank" href="https://vk.com/o.vorobiov">o.vorobiov</a>
            </div>
            <div class="note">
                Здесь периодически добавляю фото и обновляю новости в паблике, посвященном C++.
            </div>
        </div>
        <div class="contact">
            <div class="main">
                <img src="~/icons/so.svg" alt="ruSO">
                <a class="ref" target="_blank" href="https://ru.stackoverflow.com/users/211703/isnullxbh">isnullxbh</a>
            </div>
            <div class="note">
                <p>Тут можно посмотреть что я спрашивал. Но лучше этого не делать.</p>
            </div>
        </div>
        <div class="contact">
            <div class="main">
                <img src="~/icons/habr.png" alt="Habrahabr">
                <a class="ref" target="_blank" href="https://habr.com/ru/users/isnullxbh">isnullxbh</a>
            </div>
            <div class="note">
                <p>Имею одну статью.</p>
            </div>
        </div>
        <div class="contact">
            <div class="main">
                <img src="~/icons/gmail.svg" alt="GMail">
                <a class="ref" target="_blank" href="mailto:isnullxbh@gmail.com">isnullxbh@gmail.com</a>
            </div>
            <div class="note">
                Почту проверяю регулярно.
            </div>
        </div>
        <div class="contact">
            <div class="main">
                <img src="~/icons/instagram2.svg" alt="Instagram">
                <a class="ref" target="_blank" href="https://www.instagram.com/isnullxbh">isnullxbh</a>
            </div>
            <div class="note">
                Тут фотографии книг. Ну и я встречаюсь пару раз.
            </div>
        </div>
        <div class="contact">
            <div class="main">
                <img src="~/icons/linkedin.svg" alt="LinkedIn">
                <a class="ref" target="_blank" href="https://www.linkedin.com/in/isnullxbh">isnullxbh</a>
            </div>
            <div class="note">
                Тут говорят, пойдем к нам работать.
            </div>
        </div>
        <div class="contact">
            <div class="main">
                <img src="~/icons/twitter2.svg" alt="Twitter">
                <a class="ref" target="_blank" href="https://twitter.com/isnullxbh">isnullxbh</a>
            </div>
            <div class="note">
                Тут пространственно-временной континуум искривлен, поэтому все замедлилось.
            </div>
        </div>
    </section>
</article>
