@{
    ViewData["Title"] = "Резюме";
}

<article>
    <section>
        <div class="cv-edu">
            <div class="cv-tl">2011-2015</div>
            <header>Образование</header>
            <div style="padding-top: 15px;">
                Алтайский государственный технический университет (АлтГТУ),<br/>
                Факультет информационных технологий,<br/>
                Информационная безопасность
            </div>
        </div>

        <div class="cv-skills">
            <header>Навыки</header>
            <ul style="padding-top: 15px;">
                <li>Linux/macOS</li>
                <li>C++</li>
                <li>Системное программирование (Posix/WinAPI)</li>
                <li>Message-oriented middleware</li>
            </ul>
        </div>

        <div class="cv-company">
            <div class="cv-tl">2017-@DateTime.Now.ToString("yyyy")</div>
            <header>IntegraSources</header>

            <div class="cv-project">
                <header>Система управления аккумуляторными батареями</header>
                <div class="cv-res">
                    <header>Обязанности:</header>
                    <ul>
                        <li>Разработка модуля управления станцией</li>
                        <li>Разработка модуля для сбора телеметрии</li>
                        <li>Разработка модуля для анализа данных</li>
                        <li>Разработка модуля для генерации отчетов</li>
                        <li>Разработка модуля выгрузки данных в локальную БД</li>
                        <li>Разработка модуля выгрузки данных в облачное хранилище</li>
                        <li>Разработка веб-сервиса для мониторинга системы (dashboard)</li>
                        <li>Разработка веб-сервиса для взаимодействия с хабами</li>
                        <li>Разработка веб-сервиса для доступа к данным</li>
                        <li>Разработка приложения для зарядки батарей</li>
                    </ul>
                </div>
                <div class="cv-technologies">
                    <header>Технологии:</header>
                    <ul>
                        <li>C++20</li>
                        <li>Boost.Asio</li>
                        <li>PostgreSQL</li>
                        <li>Conan</li>
                        <li>ASP.NET Core</li>
                        <li>F#</li>
                        <li>SignalR</li>
                        <li>TypeScript</li>
                        <li>React</li>
                        <li>Java</li>
                        <li>Hibernate</li>
                        <li>GraphQL</li>
                    </ul>
                </div>
            </div>

            <div class="cv-project">
                <header>Драйвер виртуальной камеры (Windows)</header>
                <div class="cv-res">
                    <header>Обязанности:</header>
                    <ul>
                        <li>Разработка видео драйвера</li>
                        <li>Разработка аудио драйвера</li>
                        <li>Разработка Node.js аддона для стриминга аудио- и видео-данных в виртуальные драйверы</li>
                        <li>Разработка веб-приложения для стриминга аудио- и видео-данных с веб-камеры</li>
                    </ul>
                </div>
                <div class="cv-technologies">
                    <header>Технологии:</header>
                    <ul>
                        <li>Windows Kernel</li>
                        <li>AVStream</li>
                        <li>C++17</li>
                        <li>TypeScript</li>
                        <li>React</li>
                        <li>Electron</li>
                        <li>Node.js</li>
                    </ul>
                </div>
            </div>

            <div class="cv-project">
                <header>Платформа для обучения робототехнике</header>
                <div class="cv-res">
                    <header>Обязанности:</header>
                    <ul>
                        <li>Разработка компонентов для графического конструктора</li>
                        <li>Разработка личного кабинета</li>
                        <li>Разработка панели администратора</li>
                        <li>Обработка решений задач</li>
                        <li>Добавление поддержки новых модулей\датчиков</li>
                        <li>Разработка cloud-based сервиса для взаимодействия с устройствами</li>
                        <li>Разработка системного сервиса для поиска устройств (Windows)</li>
                        <li>Развертывание сервисов</li>
                    </ul>
                </div>
                <div class="cv-technologies">
                    <header>Технологии:</header>
                    <ul>
                        <li>С++11/14</li>
                        <li>Boost.Asio, Boost.Beast</li>
                        <li>PostgreSQL</li>
                        <li>JavaScript</li>
                        <li>php</li>
                        <li>Symphony</li>
                        <li>Python</li>
                        <li>Docker</li>
                    </ul>
                </div>
            </div>

            <div class="cv-project">
                <header>Приложение для обнаружения падения</header>
                <div class="cv-res">
                    <header>Обязанности:</header>
                    <ul>
                        <li>Разработка модуля для детектирования объектов</li>
                        <li>Разработка модуля для сбора статистических данных</li>
                    </ul>
                </div>
                <div class="cv-technologies">
                    <header>Технологии:</header>
                    <ul>
                        <li>С++11/14</li>
                        <li>OpenCV</li>
                    </ul>
                </div>
            </div>

            <div class="cv-project">
                <header>Онлайн-доска для обмена визуальным контентом</header>
                <div class="cv-res">
                    <header>Обязанности:</header>
                    <ul>
                        <li>Разработка серверной части</li>
                        <li>Разработка модуля для рисования на доске</li>
                    </ul>
                </div>
                <div class="cv-technologies">
                    <header>Технологии:</header>
                    <ul>
                        <li>С++17</li>
                        <li>Qt</li>
                    </ul>
                </div>
            </div>

            <div class="cv-project">
                <header>Приложение для детектирования лодок</header>
                <div class="cv-res">
                    <header>Обязанности:</header>
                    <ul>
                        <li>Разработка модуля для сбора данных с датчиков</li>
                        <li>Сбор данных с модуля детектирования</li>
                        <li>Разработка модуля для выгрузки данных в облако</li>
                    </ul>
                </div>
                <div class="cv-technologies">
                    <header>Технологии:</header>
                    <ul>
                        <li>С++17</li>
                        <li>Boost.Asio</li>
                    </ul>
                </div>
            </div>

            <div class="cv-project">
                <header>Приложение для управления станциями зарядки электротранспорта</header>
                <div class="cv-res">
                    <header>Обязанности:</header>
                    <ul>
                        <li>Разработка приложения для управления станцией</li>
                        <li>Разработка хаба для сбора данных и телеметрии</li>
                        <li>Разработка веб-приложения для мониторинга состояния станций</li>
                    </ul>
                </div>
                <div class="cv-technologies">
                    <header>Технологии:</header>
                    <ul>
                        <li>C++17</li>
                        <li>Boost.Asio</li>
                        <li>C++ Rest SDK</li>
                        <li>ASP.NET Core</li>
                        <li>F#</li>
                    </ul>
                </div>
            </div>

            <div class="cv-project">
                <header>Валидатор RPA-схем</header>
                <div class="cv-res">
                    <header>Обязанности:</header>
                    <ul>
                        <li>Разработка модуля валидации</li>
                        <li>Разработка модуля построения отчетов</li>
                        <li>Разработка модуля выгрузки данных в локальную БД</li>
                        <li>Разработка модуля выгрузки данных в облачное хранилище</li>
                        <li>Разработка графического интерфейса</li>
                        <li>Создание инсталлятора</li>
                    </ul>
                </div>
                <div class="cv-technologies">
                    <header>Технологии:</header>
                    <ul>
                        <li>Java</li>
                        <li>JavaFX</li>
                        <li>Hibernate</li>
                    </ul>
                </div>
            </div>

            <div class="cv-project">
                <header>Приложение для аэросъемки</header>
                <div class="cv-res">
                    <header>Обязанности:</header>
                    <ul>
                        <li>Написание скриптов для управления съемкой с нескольких камер</li>
                        <li>Исправление проблем производительности</li>
                    </ul>
                </div>
                <div class="cv-technologies">
                    <header>Технологии:</header>
                    <ul>
                        <li>Linux</li>
                        <li>Python</li>
                        <li>V4L2</li>
                    </ul>
                </div>
            </div>

            <div class="cv-project">
                <header>Приложение для анализа электрической активности головного мозга</header>
                <div class="cv-res">
                    <header>Обязанности:</header>
                    <ul>
                        <li>Reverse-engineering протокола обмена данными</li>
                        <li>Разработка сервиса для получения данных с устройства</li>
                    </ul>
                </div>
                <div class="cv-technologies">
                    <header>Технологии:</header>
                    <ul>
                        <li>C#</li>
                        <li>BLE</li>
                    </ul>
                </div>
            </div>

            <div class="cv-project">
                <header>Приложение для управления LED матрицей</header>
                <div class="cv-res">
                    <header>Обязанности:</header>
                    <ul>
                        <li>Разработка драйвера для LED матрицы</li>
                        <li>Разработка модуля для управления системой (WebSockets)</li>
                        <li>Разработка модуля для управления системой (SNMP)</li>
                        <li>Разработка модуля для управления системой (MQTT)</li>
                        <li>Разработка модуля для рендеринга текста</li>
                        <li>Разработка модуля для трансформации\отображения изображений</li>
                        <li>Интеграция с FPGA модулем</li>
                        <li>Сборка ядра Linux</li>
                    </ul>
                </div>
                <div class="cv-technologies">
                    <header>Технологии:</header>
                    <ul>
                        <li>Linux</li>
                        <li>C++20</li>
                        <li>Boost.Asio, Boost.Beast</li>
                        <li>snmppp, agentpp</li>
                        <li>Conan</li>
                        <li>FreeType</li>
                    </ul>
                </div>
            </div>

            <div class="cv-project">
                <header>Драйвер виртуальной камеры (Windows)</header>
                <div class="cv-res">
                    <header>Обязанности:</header>
                    <ul>
                        <li>Разработка видео драйвера</li>
                        <li>Разработка C++ API для стриминга видео</li>
                    </ul>
                </div>
                <div class="cv-technologies">
                    <header>Технологии:</header>
                    <ul>
                        <li>Windows Kernel</li>
                        <li>AVStream</li>
                        <li>C++17</li>
                        <li>GStreamer</li>
                    </ul>
                </div>
            </div>

            <div class="cv-project">
                <header>Драйвер виртуальной камеры (macOS)</header>
                <div class="cv-res">
                    <header>Обязанности:</header>
                    <ul>
                        <li>Реализация проверки видео данных на наличие защиты Macrovision</li>
                        <li>Чтение VBI данных</li>
                        <li>Разработка приложения для настройки параметров драйвера</li>
                    </ul>
                </div>
                <div class="cv-technologies">
                    <header>Технологии:</header>
                    <ul>
                        <li>macOS</li>
                        <li>C++</li>
                        <li>Swift</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="cv-company">
            <div class="cv-tl">2015-2017</div>
            <header>Enterra</header>
            <div class="cv-project">
                <header>EvenBet Gaming: Poker</header>
                <div class="cv-res">
                    <header>Обязанности:</header>
                    <ul>
                        <li>Разработка серверной части игрового приложения</li>
                    </ul>
                </div>
                <div class="cv-technologies">
                    <header>Технологии:</header>
                    <ul>
                        <li>С++11</li>
                        <li>WinSock/Linux Sockets</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</article>
