<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - isnullxbh.me</title>

    <link rel="stylesheet" href="~/css/main.css"/>
    <link rel="stylesheet" href="~/css/design.css"/>
    <link rel="stylesheet" href="~/css/format.css"/>
</head>
<body>
<header>
    <nav class="navbar">
        <div class="wrapper">
            <div class="navbar-logo">
                <a asp-controller="Home" asp-action="Index">isnullxbh.me</a>
            </div>
            <div class="navbar-links">
                <a asp-controller="Home" asp-action="Index">Главная</a>
                <a asp-controller="Home" asp-action="Posts">Посты</a>
                <a asp-controller="Home" asp-action="Talks">Доклады</a>
                <a asp-controller="Home" asp-action="Projects">Проекты</a>
                <a asp-controller="Home" asp-action="Contact">Контакты</a>
                <a asp-controller="Home" asp-action="About">Обо мне</a>
            </div>
        </div>
    </nav>
</header>
<main>
    @RenderBody()
</main>
<footer></footer>
</body>
</html>
